/* Common elements including the navbar and page sizing effect (mobile application) */

/* navbar elements */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar ul{
  display: flex;
  list-style: none;
  background-color: red;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar li{
  float: left;
  flex: 1;
}

.navbar a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
}

.navbar a:hover{
  background-color: blue;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.active-page{
  background-color: black;
}

main{
  padding: 50px;
}

h1{
  text-align: center;
  font-family: 'Helvetica Neue',serif;
}

h3{
  text-align: center;
  font-family: 'Helvetica Neue',serif;
}

body{
  margin: 0;
  background-color: orange;
}

footer{
  text-align: center;
  padding: 3px;
  background-color: red;
  color: white;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.italics{
  font-style: italic;
}

.red-text{
  color: red;
  font-family: "Euphemia UCAS";
}

.blue-text{
  color: blue;
  font-family: "Euphemia UCAS";
}

/* page sizing effect (mobile application) */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(11, minmax(30px, 1fr)); /* Adjust column sizes */
  }

  body {
    background-color: darkorange;
  }

  .cell, .header, .row-header {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(11, minmax(20px, 1fr));
  }

  body {
    background-color: rgba(255, 128, 0, 0.83);
  }

  .cell, .header, .row-header {
    font-size: 0.6rem; /* Further reduce font size */
  }
}
