/* Elements specific to the high_scores page */

.container {
  display: grid;
  grid-template-areas:
        "playerNames lowScores highScores";
  grid-template-columns: 4fr 1fr 1fr;
  gap: 1px;
  background-color: black;
  padding: 1px;
}

/* Grid div elements */
.container > div {
  background-color: darkgray;
  padding: 10px;
  border: 1px solid red;
}

/*.playerNames {*/
/*  !* Add Style Elements Here *!*/
/*}*/

/*.lowScores {*/
/*  grid-area: lowScores;*/
/*  !* Add Style Elements Here *!*/
/*}*/

/*.highScores {*/
/*  grid-area: highScores;*/
/*  !* Add Style Elements Here *!*/
/*}*/

h4{
  text-align: left;
}

